body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    font-family: 'century gothic', sans-serif;
}

.container {
    height: 70vh;
    width: 70vw;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.items {
    background-color: teal;
    width: 80%;
    height: 50px;
    margin:auto;
    margin-top: 3%;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin: 3%;
    border: none;
    background-color: teal;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}